*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html {
    font-size: 10px;
}
body { 
    background-color:black;
    background-position: 0 1000px;
    
}
h1 {
    color:ghostwhite;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}
p {
    color: ghostwhite;
    font-size:medium;
    font-weight:300;
    width: 550px;
}
